@tailwind base;
@tailwind components;
@tailwind utilities;

  

  body {
   
     font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }



 
.aside_admin::-webkit-scrollbar {
  width: 1px;
}


.aside_admin::-webkit-scrollbar {
  height: 6px;
}


.aside_admin::-webkit-scrollbar-track {
  background: #f1f1f1;
}


.aside_admin::-webkit-scrollbar-thumb {
  background: #ce7414;
  border-radius: 10px;
}


.aside_admin::-webkit-scrollbar-thumb:hover {
  background: #555;
}